/* fonts */
$fontKarla: 'Karla', sans-serif;
$fontRoboto: 'Roboto', sans-serif;

$fw400: 400;
$fw500: 500;
$fw700: 700;

/* colors */
$black: #000000;
$gray-light: #F2F2F7;
$gray: #8E8E93;
$gray-black: #6E798C;
$blue-black: #081F32;
$white: #ffffff;
$green: #4cff8f;